.title{
	text-align:left;
	position:absolute;
	left:8px;
	margin: 1px;
	width: 50%;
	padding: 1%;
}
body{
	margin: auto;
	background-color:#edeff5;
	color:gray;
}
.content{
	margin: auto;
	width: 15%;
	border: 2px;
	background-color:#d8e3f0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	padding: 14px;
	position:absolute;
	top:200px;
	left:14px;
	font-family:Calibri, sans serif;
}
.Goto{
	text-align:center;
	position:absolute;
	right:8px;
	margin: 5px;
	width: 50%;
	padding: 1%;
}
.top-button{
	padding:15px 32px;
	margin:8px;
	font-family:Calibri, sans serif;
	border:none;
	border-radius: 5px;
	font-size: 20px;
	cursor:pointer;
}
.top-button:hover{
	background-color:#ebeff0; color: black;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.search-button{
	position:absolute;
	top:100px;
	right:49px;
	padding:5px;
	margin:8px;
	font-family:Calibri, sans serif;
	border:none;
	border-radius: 5px;
	font-size: 20px;
	cursor:pointer;
}
.search-button:hover{
	background-color:#ebeff0; color: black;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.placeholder{
	position:absolute;
	top:100px;
	right:49px;
	padding:5px;
	margin:8px;
	font-family:Calibri, sans serif;
	border:none;
	border-radius: 5px;
	font-size: 20px;
}
.placeholder:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-property: box-shadow height width;
	transition-duration: 0.44s;
}
.intro{
	margin: auto;
	width: 50%;
	border: 2px;
	background-color:#d8e3f0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	padding: 5%;
	position:absolute;
	top:200px;
	left:300px;
	font-family:Calibri, sans serif;
}
.intro:hover{
	background-color:#c7eeff; color: black;
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.my-recent-trips{
	margin: auto;
	width: 50%;
	border: 2px;
	background-color:#d8e3f0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	padding: 5%;
	font-family:Calibri, sans serif;
	position:absolute;
	top:500px;
	left:300px;
	cursor:pointer;
}
.my-recent-trips:hover{
	background-color:#c7eeff; color: black;
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.memory-lane{
	margin: auto;
	width: 50%;
	border: 2px;
	background-color:#d8e3f0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	padding: 5%;
	font-family:Calibri, sans serif;
	position:absolute;
	top:730px;
	left:300px;
	cursor:pointer;
}
.memory-lane:hover{
	background-color:#c7eeff; color: black;
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.beautiful-campus{
	margin: 5px;
	width: 50%;
	border: 2px;
	background-color:#d8e3f0;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5px;
	padding: 5%;
	font-family:Calibri, sans serif;
	position:absolute;
	top:960px;
	left:300px;
	cursor:pointer;
}
.beautiful-campus:hover{
	background-color:#c7eeff; color: black;
	transition-property: background-color box-shadow height width;
	transition-duration: 0.44s;
}
.main-page{
	cursor:pointer;
	display: flex;
	margin: 5px 5px;
}
.main-page:hover{
	
}
.Header{
	top:5px;
}
.Image1{
	text-align:center;
}
.caption{
	color:#85097c;
	font-weight:bold;
}